@using TravelTripProje.Models.Classes
@model List<Blog>
<div class="box1-left">
    @foreach (var x in Model)
    {
        <div class="bot-img">
            <a href="/Blog/BlogDetay/@x.ID"><img src="@x.BlogImage" alt="" style="height:100px;" /></a>
        </div>
        <div class="bot-desc" style="padding-bottom:20px;">
            <p>@x.Aciklama.Substring(0, 130)... </p>
        </div>
        <div class="clear"></div>
    }
</div>
